body {

    background-color: #2a384c;

    color: white;

    font-family: Monospace;

}

input {
    background-color: #305073;
    border: 0;
    -webkit-appearance: none;
    padding: 5px;
    color: white;
    border-radius: 20px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
    background-color:#305073;
    border: 0;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}